{% if sa_list %}

   {% if assignment.due_date >= today %}

      <h3> Submissions for Assignment {{ assignment.assignment_no }} </h3>

      <h4> Not Submitted </h4>

      <ul>
      {% for name in not_submitted %}
         
          <li> Student: name</li>
      {% endfor %}
      </ul>
 
      <h4> Submitted </h4>

      <ul>
      {% for name in submitted %}
         
          <li> Student: name</li>
      {% endfor %}
      </ul>


   {% else %}

    <h3> Submissions for Assignment {{ assignment.assignment_no }} </h3>

    <ul>
     {% for s in sorted_students %}
  
         {% if s.studentassignment_set.all %}
       
               {% for sa in s.studentassignment_set.all %}
       
                     {% if sa.assignment.assignment_no == assignment.assignment_no and sa.assignment.due_date == assignment.due_date %}
      
                         <li><a href="/grading/instructor/{{ instructor_id }}/course/{{ course_id }}/assignment/{{ assignment_id }}/student/{{sa.student.id}}">Student Name: {{ s.name }}, Assignment: {{ sa.assignment.assignment_no }}, Due Date: {{ sa.assignment.due_date }}</a></li>
               
                     {% endif %}
               {% endfor %}
   

         {% else %}
       
               <li>Student Name: {{ s.name }}, No submission</li>
         
         {% endif %}
     {% endfor %}
   </ul> 

   {% endif %}

 {% endif %}
