 {% if qa_list %}

<form action="/grading/instructor/{{ instructor_id }}/course/{{ course_id }}/assignment/{{ assignment_id }}/student/{{ student_id }}/" method="post">
    {% csrf_token %}
 
    <h3> Student Answers for Submission </h3>
    <ul>
    {% for q, a in qa_list %}
     
    <li> Question #{{ q.question_no }}: {{ q.question_text }}, Answer: {{ a }} </li>
    {% endfor %}
    </ul>
 
    <label>Score: </label>
    <input type="number" name="score_given" value="{{ score }}">
    <input type="submit" value="Submit">
 
{% endif %}
 
</form>
