{% if sa_list %}

   {% if assignment.due_date >= today %}

      <h3> Submissions for Assignment {{ assignment.assignment_no }} </h3>

      <ul>
     {% for sa in sa_list %}
  
         {% if sa.assignment.due_date >= today %}
      
         <li> Assignment: {{ assignment.assignment_no }}, Due Date: {{ assignment.due_date }}</li>
         {% endif %}
     {% endfor %}
      </ul>


   {% else %}

    <h3> Submissions for Assignment {{ assignment.assignment_no }} </h3>

    <ul>
     {% for s in sorted_students %}
  
         {% if s.studentassignment_set.all %}
       
               {% for sa in s.studentassignment_set.all %}
       
                     {% if sa.assignment.assignment_no == assignment.assignment_no and sa.assignment.due_date == assignment.due_date %}
      
                         <li><a href="/grading/instructor/{{ instructor_id }}/course/{{ course_id }}/assignment/{{ assignment_id }}/student/{{sa.student.id}}">Student Name: {{ s.name }}, Assignment: {{ sa.assignment.assignment_no }}, Due Date: {{ sa.assignment.due_date }}</a></li>
               
                     {% endif %}
               {% endfor %}
    </ul>   

         {% else %}
       
               Student Name: {{ s.name }}, No submission
         
         {% endif %}
     {% endfor %}


   {% endif %}

 {% endif %}
