{% if course_list %}
    {% for c in course_list %}
    <h3> {{ c.title }}</h3>
    <h4> Available Assignments: </h4>

    <ul>
        {% for a in c.assignment_set.all %}
        
            {% if a.due_date > today %}                                 
                <li><a href="/grading/student/{{ student_id }}/assignment/{{ a.id }}">Assignment {{ a.assignment_no }}, Due Date: {{ a.due_date }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>

    <h4> Past Assignments: </h4>
    
    <ul>
        {% for a in c.assignment_set.all %}
        
            {% if today > a.due_date %}                                 
                <li><a href="/grading/student/{{ student_id }}/assignment/{{ a.id }}">Assignment {{ a.assignment_no }}, Due Date: {{ a.due_date }}</a></li>
                    
                    {% if a.studentassignment_set.filter(assignment__assignment_no = a.assignment_no).exists() %} 
                            Grade: {{a.studentassignment_set.filter(assignment__assignment_no == a.assignment_no).score}}
                    {% endif %}
                   
            {% endif %}
        {% endfor %}
    </ul>
        
        
    {% endfor %}

{% else %}
    <p>No courses are available.</p>
{% endif %}
